.main-aside {
    background-color: var(--color-main);
    display: flex;
    flex-direction: column;
    
    &__logo{
        flex: 0 1 var(--bar-height);
        max-width: 8rem;
        padding: 1rem 0;
        margin-bottom: auto;
        object-fit: contain ;
    };

    &__logo img{

        object-fit: contain ;
    }

    &__bottom {
        flex: 0 1 auto;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        i {
            padding: 1.5rem 0;
        }
    }
}