.main-content {
    background-color: #fff;

    &__top-bar {
        height: var(--bar-height);
        background-color: var(--color-main-light);
        font-size: 2rem;
        padding: 2rem;
    }

    &__switch {
        padding: 2rem 3rem;
    }

}