.main-nav {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: var(--color-main-light);

    &__logo {
        flex: 0 1 var(--bar-height);
    }
    &__name{
        font-size: 5rem;
        padding: 1.7rem;
    }
}

.nav-link {
    padding: 1rem 2rem;
    color: var(--color-grey-2);
}

.nav-link img {
    padding: 0 1rem 0 0.1rem;
}