.single-post {
    display: flex;

    &__left {
        flex: 0 1 60%;
        padding: 2rem 2rem;
    }

    &__right {
        flex: 0 1 40%;
        padding: 0 2rem 2rem 2rem;
        background-color: var(--color-main-light);
    }

    &__image img {
        max-width: 35%;
        padding: 1rem;
    }
}

.card {
    box-shadow: none;
    margin-bottom: 2rem;
    
    &:hover {
        // background-color: var(--color-bg);
    }
}

.overflow-fix {
    max-height: calc(100vh - 7rem - 22rem);
    overflow-y: auto;
}

.card-title {
    padding-top: 1rem;
    font-size: 2rem;

    &__small{
        color: var(--color-grey-3) !important;
        font-size: 1rem !important;
        float: right !important;
        vertical-align: bottom;
    }
}

.card-text {
    font-size: 1.2rem !important;
    padding: 2rem 0;
}

.card-body {
    padding: 0 1rem 1rem 1rem;
}

.comment{
    &__rating {
    float: right;
    padding: 0.5rem;
    }

    &__rating span{
    font-size: 1.3rem;
    padding: 1rem 0.8rem 0.8rem 0.8rem;
    }

    &__text {
        padding: 0.8rem;
    }
}