.grey-text {
  color: var(--color-grey-3);
  font-size: 1.1rem;
  padding-bottom: 1rem;
  &__input {
    color: var(--color-grey-3) !important;
    font-size: 2rem !important;
  }
}

.grey-text p {
  padding: 0 0 0.5rem 0.5rem;
  border-bottom: 0.1rem solid grey;
  border-bottom-color: var(--color-grey-4);
}

.dropdownbutton {
  background-color: none;
  box-shadow: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  height: 3rem;
}

.choose {
  &__user {
    text-transform: capitalize;
    font-size: 1.1rem;
    height: 3rem;
    padding: 0 30rem 0 2rem;
    width: 7rem;
    // border-bottom-color: var(--color-grey-4);
    // border-bottom-width: 0.1rem;
    // border-bottom-style: solid;
  }
  &__full {
    align-items: baseline;
    justify-content: start;
    padding-left: 15rem;
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}
