@import "../../../scss/global.scss";

.custom-control-input:checked ~ .radio-orange::before {
  background-color: var(--color-main);
  border-color: var(--color-main) ;
}

.input-text-grey {
  color: white;
}
