@import "../../../scss/global.scss";

.custom-control-input:checked ~ .radio-green::before {
  background-color: var(--color-main);
  border-color: var(--color-main) ;
}

.input-text-grey {
  color: white;
}

.activeLink {
  margin: 5px 0;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-main);
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $firstView-primary-darken;
    transition: all 0.2s ease-in-out;
  }
}

.login-btn {
  color: white;
  background: var(--color-main) !important;
  transform: scale(1.3);
  text-transform: none;
}

.logo {
  margin: 7px;
  position: absolute;
}

.mdb-row {
  margin-top: 0;
}

.vw-93 {
  width: 93vw;
}

.card-height {
  height: 85vh;
}

.card-form {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.card-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstView {
  &__loginForm {
    background: var(--color-main-light);
    margin-left: 0;
    margin-right: 0;
}
  &__slack{
    color: var(--color-grey-2);
  }
}

.white {
  color: white;
}

.footer-styling {
  margin-right: 20%;
}

.radio-styling label{
  color: black !important;
}