.stickers-container {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 9rem);
    overflow-y: scroll;

    .sticker {
        min-width: 20rem;
        min-height: 20rem;
        max-width: 23rem;
    }
}

.team-less-card {
    align-items: center;
    padding-bottom: 1rem;
}